In [13]:
import pandas as pd

df = pd.DataFrame([[1, 2,3,4], [4, 5,6,7], [7, 8,9,10]],

     index=['cobra', 'viper', 'sidewinder'],

     columns=['max_speed', 'shield',"aaa" ,"bbb"])
df.head()

            max_speed  shield  aaa  bbb
cobra               1       2    3    4
viper               4       5    6    7
sidewinder          7       8    9   10

In [37]:
df.head()
df2 =

            max_speed  shield  aaa  bbb
cobra               1       2    3    4
viper               4       5    6    7
sidewinder          7       8    9   10